@tailwind base;
@tailwind components;
@tailwind utilities;

.group.flex.items-center.justify-center
  .flex.items-center.transition-all.duration-200 {
  width: 100%;
  justify-content: space-between;
}
.service_card .flex.h-full.flex-col.justify-center.gap-4.p-6 {
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  /* border-radius: 8px; */
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #00000080;
  /* border-radius: 10px; */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #000000;
}

/* table design */

table thead th,
table tbody td {
  padding: 10px 5px;
  text-align: left;
}
table thead th:first-child {
  border-radius: 8px 0px 0px 0px;
}
table thead th:last-child {
  border-radius: 0px 8px 0px 0px;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #ddd;
}

th,
td {
  text-align: left;
  padding: 8px;
}

.Sidebar button:hover {
  color: black;
  background-color: rgb(243, 244, 246, 1) !important;
}
.Sidebar button a:hover {
  color: black;
  background-color: rgb(243, 244, 246, 1) !important;
}
.Sidebar button {
  color: black;
  background-color: transparent !important;
}
.Sidebar button a {
  color: black;
  background-color: transparent !important;
}

/* width */
.available_services_section::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

/* Track */
.available_services_section::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
.available_services_section::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
.available_services_section::-webkit-scrollbar-thumb:hover {
  background: #555;
}
/* width */
.upcoming_services_section::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

/* Track */
.upcoming_services_section::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
.upcoming_services_section::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
.upcoming_services_section::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.home_carousel_section .rounded-lg {
  border-radius: 0;
}
