@tailwind base;
@tailwind components;
@tailwind utilities;

.group.flex.items-center.justify-center
  .flex.items-center.transition-all.duration-200 {
  width: 100%;
  justify-content: space-between;
}
.service_card .flex.h-full.flex-col.justify-center.gap-4.p-6 {
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
}
